<tr id="<%= dom_id model %>">
  <td><%= model.provider %></td>
  <td><%= model.name %></td>
  <td><%= number_with_delimiter(model.context_window) if model.context_window %></td>
  <td>
    <% if model.pricing && model.pricing['text_tokens'] && model.pricing['text_tokens']['standard'] %>
      <% input = model.pricing['text_tokens']['standard']['input_per_million'] %>
      <% output = model.pricing['text_tokens']['standard']['output_per_million'] %>
      <% if input && output %>
        $<%= "%.2f" % input %> / $<%= "%.2f" % output %>
      <% end %>
    <% end %>
  </td>
  <td><%= link_to "Show", model %></td>
  <td><%= link_to "Start chat", new_chat_path(model: model.model_id) %></td>
</tr>